{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8" />
  <title>lights</title>
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"
          integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
  <script src="{% static "lights/js/reactjs/react.js" %}"></script>
  <script src="{% static "lights/js/reactjs/react-dom.js" %}"></script>
  <style type="text/css" href="{% static "lights/css/style.css" %}" />
</head>
<body>
<h1>Verificient Lightboard</h1>
<div id='light_container' class="container">
</div>


<template id="colorbox_template">
  <div class="colorbox">
    <div class="color" style="background-color: #000000">#000000</div>
    <div class="color" style="background-color: #FFFFFF">#FFFFFF</div>
    <div class="color" style="background-color: #FF0000">#FF0000</div>
    <div class="color" style="background-color: #00FF00">#00FF00</div>
    <div class="color" style="background-color: #0000FF">#0000FF</div>
    <div class="color" style="background-color: #1b6d85">#1b6d85</div>
    <div class="color" style="background-color: #fa63f8">#fa63f8</div>
    <div class="color" style="background-color: #ff7b00">#ff7b00</div>
  </div>
</template>

<template id="light_template">
  <div class="light">
    <div></div>

    <form class="colorform" action="" method="post">
      <input type="hidden" name="pk" value=""/>
    </form>
  </div>
</template>
<script type="text/javascript">
  // I'm so sorry. I am not a javascript coder...

  function create_light_clone(light) {
    var t = document.querySelector('#light_template');
    var c = document.querySelector("#colorbox_template");
    var colorbox_clone = document.importNode(c.content, true);

    t.content.querySelector(".light").style.backgroundColor = light.color;

    t.content.querySelector(".light")
        .querySelector("div")
        .innerHTML = light.assigned_user__username ? light.assigned_user__username : "?";

    t.content.querySelector(".light")
        .querySelector(".colorform")
        .id = "colorform-" + light.pk;

    t.content.querySelector(".light")
        .querySelector(".colorform")
        .action = "/lights/" + light.pk + "/";

    t.content.querySelector(".light")
        .querySelector(".colorform")
        .querySelector("input[type=hidden]")
        .value = light.pk;

    if (t.content.querySelector(".colorbox") == null) {
      t.content.querySelector(".light")
          .querySelector(".colorform")
          .appendChild(colorbox_clone);
    }


    var clone = document.importNode(t.content, true);
    return clone
  }

  function replace_lights(lights_data) {
    document.querySelector("#light_container").innerHTML = "";
    for (var i = 0; i < lights_data.length; i++) {
      var clone = create_light_clone(lights_data[i]);
      document.querySelector("#light_container").appendChild(clone);
    }
    //adds onclick handler to all color buttons
    [].forEach.call(document.querySelectorAll(".color"), function (el) {
      el.addEventListener('click', function () {
        var parent = this.parentElement.parentElement;
        var pk = parent.querySelector("input[name=pk]").value;
        var color = this.innerHTML;
        if(parent.style.display!="none") { //prevent mobile touches from triggering message send
          socket.send(JSON.stringify({pk: pk, color: color}));
        }
      }, false);
    });
  }

  function receive_message(message) {
    var data = JSON.parse(message.data);
    replace_lights(data['lights']);
  }

  var socket = new ReconnectingWebSocket('ws://' + window.location.host);
  socket.onmessage = receive_message;


</script>
</body>
</html>
